.digit-box {
  background-color: rgb(40, 39, 39);
  color: white;
  font-size: 5rem;
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  background-color: black;
  box-shadow: 0 4px 8px rgba(27, 27, 27, 0.1);
}
