.digit-box {
  background-color: rgb(40, 39, 39);
  color: white;
  font-size: 5rem;
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  background-color: black; /* Optional: background color for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}

.display-1 {
  font-size: 5rem;
  font-weight: bold;
}
